Trabalho Prático de Introdução a Ciência dos Dados.

Base: Campeonato Brasileiro de futebol. Qual rendimento um time precisa ter em casa e fora para ser campeão?

Perguntas: 
Existe alguma relação entre a colocação de um time no campeonato e o estado de qual ele vem?

Existe alguma relação entre gols pro e contra para que o time seja campeão?

Existe alguma relação entre posse de bola e vitória?

Quantas finalizações em média são necessárias para gerar um gol?

Análise exploratória

In [59]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [60]:
camp_bras_full = pd.read_csv('campeonato-brasileiro-full.csv', 
                 sep=','
                 )

In [61]:
camp_bras_full.head()

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
0,1,1,29/3/2003,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,Brinco de Ouro,4,2,SP,RJ
1,2,1,29/3/2003,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,Arena da Baixada,2,0,PR,RS
2,3,1,30/3/2003,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,Maracanã,1,1,RJ,PR
3,4,1,30/3/2003,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,-,Serra Dourada,2,2,GO,PA
4,5,1,30/3/2003,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,Beira Rio,1,1,RS,SP

In [62]:
camp_bras_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8025 entries, 0 to 8024
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  8025 non-null   int64
 1   rodata              8025 non-null   int64
 2   data                8025 non-null   object
 3   hora                8025 non-null   object
 4   mandante            8025 non-null   object
 5   visitante           8025 non-null   object
 6   formacao_mandante   3051 non-null   object
 7   formacao_visitante  3051 non-null   object
 8   tecnico_mandante    3415 non-null   object
 9   tecnico_visitante   3415 non-null   object
 10  vencedor            8025 non-null   object
 11  arena               8025 non-null   object
 12  mandante_Placar     8025 non-null   int64
 13  visitante_Placar    8025 non-null   int64
 14  mandante_Estado     8025 non-null   object
 15  visitante_Estado    8025 non-null   object
dtypes: int64(4), object(12)
memory usage: 627.0+ KB

limpando os null

In [63]:
camp_bras_full = camp_bras_full.dropna()
camp_bras_full.info()
camp_bras_full

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3048 entries, 4729 to 8024
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  3048 non-null   int64
 1   rodata              3048 non-null   int64
 2   data                3048 non-null   object
 3   hora                3048 non-null   object
 4   mandante            3048 non-null   object
 5   visitante           3048 non-null   object
 6   formacao_mandante   3048 non-null   object
 7   formacao_visitante  3048 non-null   object
 8   tecnico_mandante    3048 non-null   object
 9   tecnico_visitante   3048 non-null   object
 10  vencedor            3048 non-null   object
 11  arena               3048 non-null   object
 12  mandante_Placar     3048 non-null   int64
 13  visitante_Placar    3048 non-null   int64
 14  mandante_Estado     3048 non-null   object
 15  visitante_Estado    3048 non-null   object
dtypes: int64(4), object(12)
memory usage: 261.9+ KB

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
4729,4741,13,3/8/2014,16:00,Chapecoense,Flamengo,4-4-2,4-2-3-1,C. Rodrigues,V. Luxemburgo da Silva,Chapecoense,Arena Condá,1,0,SC,RJ
4797,4808,20,10/9/2014,19:30,Palmeiras,Criciuma,4-2-2-2,4-2-3-1,D. Silvestre Júnior,G. Dal Pozzo,Palmeiras,Estádio Municipal Paulo Machado de Carvalho,1,0,SP,SC
4822,4833,22,17/9/2014,22:00,Coritiba,Sao Paulo,4-3-2-1,4-4-2,M. dos Santos Gonçalves,M. Ramalho,Coritiba,Couto Pereira,3,1,PR,SP
4835,4846,23,21/9/2014,18:30,Gremio,Chapecoense,4-1-4-1,4-2-3-1,L. Scolari,J. da Silva,Gremio,Arena do Grêmio,1,0,RS,SC
4842,4853,24,24/9/2014,22:00,Fluminense,Gremio,4-2-3-1,4-1-4-1,C. Borges dos Santos,L. Scolari,-,Maracanã,0,0,RJ,RS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8020,8021,38,13/11/2022,16:03,Cuiaba,Coritiba,4-1-4-1,4-1-4-1,A. Cardoso de Oliveira,A. Ferreira,Cuiaba,Arena Pantanal,2,1,MT,PR
8021,8022,38,13/11/2022,16:03,Bragantino,Fluminense,4-2-3-1,4-2-3-1,M. Nogueira Barbieri,F. Diniz Silva,Fluminense,Nabizão,0,1,SP,RJ
8022,8023,38,13/11/2022,16:03,Corinthians,Atletico-MG,4-1-4-1,4-2-3-1,F. J. Monteiro Almeida,A. Stival,Atletico-MG,Neo Química Arena,0,1,SP,MG
8023,8024,38,13/11/2022,16:03,Internacional,Palmeiras,4-2-3-1,4-2-3-1,L. Venker de Menezes,A. Moreira Ferreira,Internacional,Estádio José Pinheiro Borda,3,0,RS,SP
8024,8025,38,13/11/2022,16:03,Goias,Sao Paulo,4-2-3-1,4-1-2-1-2,J. Ribeiro Ventura,R. Ceni,Sao Paulo,Estádio da Serrinha,0,4,GO,SP

In [64]:
camp_bras_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3048 entries, 4729 to 8024
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  3048 non-null   int64
 1   rodata              3048 non-null   int64
 2   data                3048 non-null   object
 3   hora                3048 non-null   object
 4   mandante            3048 non-null   object
 5   visitante           3048 non-null   object
 6   formacao_mandante   3048 non-null   object
 7   formacao_visitante  3048 non-null   object
 8   tecnico_mandante    3048 non-null   object
 9   tecnico_visitante   3048 non-null   object
 10  vencedor            3048 non-null   object
 11  arena               3048 non-null   object
 12  mandante_Placar     3048 non-null   int64
 13  visitante_Placar    3048 non-null   int64
 14  mandante_Estado     3048 non-null   object
 15  visitante_Estado    3048 non-null   object
dtypes: int64(4), object(12)
memory usage: 261.9+ KB

In [65]:
camp_bras_cartoes = pd.read_csv('campeonato-brasileiro-cartoes.csv',
                    sep=','
)

camp_bras_cartoes.head()

,partida_id,rodata,clube,cartao,atleta,num_camisa,posicao,minuto
0,4607,1,Figueirense,Amarelo,Paulo Roberto da Silva,28.0,NaN,66
1,4608,1,Internacional,Amarelo,Andrés D'Alessandro,10.0,Meio-campo,72
2,4608,1,Vitoria,Amarelo,Marcelo Machado dos Santos,29.0,NaN,86
3,4608,1,Vitoria,Amarelo,Mansur,NaN,Zagueiro,10
4,4607,1,Figueirense,Amarelo,Thiago Heleno,4.0,Zagueiro,44

In [66]:
camp_bras_cartoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16739 entries, 0 to 16738
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   partida_id  16739 non-null  int64
 1   rodata      16739 non-null  int64
 2   clube       16739 non-null  object
 3   cartao      16739 non-null  object
 4   atleta      16733 non-null  object
 5   num_camisa  16353 non-null  float64
 6   posicao     15541 non-null  object
 7   minuto      16739 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 719.3+ KB

In [67]:
camp_bras_cartoes = camp_bras_cartoes.dropna()
camp_bras_cartoes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15207 entries, 1 to 16738
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   partida_id  15207 non-null  int64
 1   rodata      15207 non-null  int64
 2   clube       15207 non-null  object
 3   cartao      15207 non-null  object
 4   atleta      15207 non-null  object
 5   num_camisa  15207 non-null  float64
 6   posicao     15207 non-null  object
 7   minuto      15207 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 772.2+ KB

In [68]:
camp_bras_estatisticas = pd.read_csv('campeonato-brasileiro-estatisticas-full.csv',
                    sep=','
)
camp_bras_estatisticas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16050 entries, 0 to 16049
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   partida_id       16050 non-null  int64
 1   rodata           16050 non-null  int64
 2   clube            16050 non-null  object
 3   chutes           16050 non-null  int64
 4   chutes_no_alvo   16050 non-null  int64
 5   posse_de_bola    6838 non-null   object
 6   passes           16050 non-null  int64
 7   precisao_passes  6838 non-null   object
 8   faltas           16050 non-null  int64
 9   cartao_amarelo   16050 non-null  int64
 10  cartao_vermelho  16050 non-null  int64
 11  impedimentos     16050 non-null  int64
 12  escanteios       16050 non-null  int64
dtypes: int64(10), object(3)
memory usage: 1.4+ MB

In [69]:
camp_bras_estatisticas.head()
camp_bras_estatisticas = camp_bras_estatisticas.dropna()
camp_bras_estatisticas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6838 entries, 9212 to 16049
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   partida_id       6838 non-null   int64
 1   rodata           6838 non-null   int64
 2   clube            6838 non-null   object
 3   chutes           6838 non-null   int64
 4   chutes_no_alvo   6838 non-null   int64
 5   posse_de_bola    6838 non-null   object
 6   passes           6838 non-null   int64
 7   precisao_passes  6838 non-null   object
 8   faltas           6838 non-null   int64
 9   cartao_amarelo   6838 non-null   int64
 10  cartao_vermelho  6838 non-null   int64
 11  impedimentos     6838 non-null   int64
 12  escanteios       6838 non-null   int64
dtypes: int64(10), object(3)
memory usage: 667.8+ KB

In [70]:
camp_bras_estatisticas

,partida_id,rodata,clube,chutes,chutes_no_alvo,posse_de_bola,passes,precisao_passes,faltas,cartao_amarelo,cartao_vermelho,impedimentos,escanteios
9212,4607,1,Fluminense,0,0,None,0,None,0,0,0,0,0
9213,4607,1,Figueirense,0,0,None,0,None,0,0,0,0,0
9214,4608,1,Internacional,0,0,None,0,None,0,0,0,0,0
9215,4608,1,Vitoria,0,0,None,0,None,0,0,0,0,0
9216,4609,1,Chapecoense,0,0,None,0,None,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16045,8023,38,Atletico-MG,17,7,41%,351,82%,19,6,0,0,4
16046,8024,38,Internacional,15,8,48%,287,77%,13,2,0,1,6
16047,8024,38,Palmeiras,11,2,52%,306,82%,17,3,0,2,5
16048,8025,38,Goias,6,2,35%,330,80%,12,2,0,1,3
16049,8025,38,Sao Paulo,13,7,65%,591,90%,14,1,0,0,4

In [71]:
camp_bras_gols = pd.read_csv('campeonato-brasileiro-gols.csv',
                            sep=','
)
camp_bras_gols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7986 entries, 0 to 7985
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   partida_id   7986 non-null   int64
 1   rodata       7986 non-null   int64
 2   clube        7986 non-null   object
 3   atleta       7986 non-null   object
 4   minuto       7986 non-null   object
 5   tipo_de_gol  971 non-null    object
dtypes: int64(2), object(4)
memory usage: 249.6+ KB

In [72]:
# camp_bras_gols os gols tipo NaN são gols "comuns" da partida, não é gol contra nem de penalty
camp_bras_gols['tipo_de_gol'].fillna('Comum', inplace=True)
camp_bras_gols

,partida_id,rodata,clube,atleta,minuto,tipo_de_gol
0,4607,1,Fluminense,Fred,45,Penalty
1,4607,1,Fluminense,Nirley da Silva Fonseca,59,Gol Contra
2,4607,1,Fluminense,Rafael Sóbis,31,Comum
3,4608,1,Internacional,Charles Aránguiz,6,Comum
4,4611,1,Sao Paulo,Antônio Carlos dos Santos Aguiar,13,Comum
...,...,...,...,...,...,...
7981,8019,38,Atletico-GO,Dudu,17,Comum
7982,8021,38,Cuiaba,Jonathan Cafú,44,Comum
7983,8024,38,Internacional,Alexandre Alemão,39,Comum
7984,8025,38,Sao Paulo,Marcos Guilherme,77,Comum
7985,8018,38,Ceara,Erick,89,Penalty